<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AngeldocHealthcare"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.Verifyed_Doc_List"
            android:exported="false" />
        <activity
            android:name=".activity.Pages"
            android:exported="false" />
        <activity
            android:name=".activity.Confirmation_Page"
            android:exported="false" />
        <activity
            android:name=".activity.View_Appointment"
            android:exported="false" />
        <activity
            android:name=".activity.Profile_Update"
            android:exported="false" />
        <activity
            android:name=".activity.Specialization_List"
            android:exported="false" />
        <activity
            android:name=".activity.Booking_Preview"
            android:exported="false" />
        <activity
            android:name=".activity.Booking_Step_One"
            android:exported="false" />
        <activity
            android:name=".activity.Specialist_Doctor_List"
            android:exported="false" />
        <activity
            android:name=".activity.Doctor_All_Page"
            android:exported="false" />
        <activity
            android:name=".activity.Notification"
            android:exported="false" />
        <activity
            android:name=".activity.OTP_Pages"
            android:exported="false" />
        <activity
            android:name=".activity.LoginPage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.GetStarted_Page"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />


        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

    </application>

</manifest>